{% extends 'wl/applications_base.html' %}

{% load static %}

{% load django_bootstrap5 %}

{% load application_filters %}

{% block extra_css %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.2.0/dist/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
  <link href="//static.dpaw.wa.gov.au/static/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
  {{ block.super }}
{% endblock %}

{% block requirements %}
  require(['js/entry/create_select_customer', 'js/entry/navigation'], function (create_select_customer, navigation) { create_select_customer.init();

  navigation.init('Warning: any information entered into the form will be lost if not saved as draft.',
  {{ application.id }}, 'a, :button', '#breadcrumbsContainer, #contentContainer', "{{ csrf_token }}"); });
{% endblock %}

{% block breadcrumbs %}
  <div id="breadcrumbsContainer" class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb wl-breadcrumbs">
          <li>
            <strong>{{ application|get_application_verb }} Application</strong>
          </li>
          <li class="active">Select or Create Customer</li>
        </ol>
      </div>
    </div>
  </div>
{% endblock %}

{% block intro_title %}
  <h3>Select or Create Customer</h3>
{% endblock %}
{% block intro_subtitle %}
  <h4>Select or create the customer for whom the application is being applied on behalf of.</h4>
{% endblock %}

{% block content %}
  <div id="contentContainer" class="container mb-3">
    <div class="row">
      <div class="col-md-12">
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label class="form-label">Select Customer</label>
            <input type="hidden" name="customer" id="searchCustomer" class="form-control" />
          </div>
          <button type="submit" class="btn btn-primary float-end" id="select" name="select" disabled="True">Select Customer</button>
        </form>
      </div>
    </div>
  <div class="row mt-3">
      <div class="col-md-12">
        <label class="form-label">Create Customer</label>
        <div class="panel panel-default" style="padding: 10px;">
            <div class="alert alert-warning" style="margin-bottom:8px;">
              <div style="float:left; height:80px; padding-right:20px; display: flex; align-items: center;">
                <span class="icon fa fa-alert text-warning"></span>
              </div>
              <p>When you click the link below you will first enter the new user's email address (madatory) and then submit the form.</p>
              <p>On the user details form that is shown afterwards, you <span style="font-weight: bold;">MUST</span>
                enter a legal first name, legal last name and date of birth and then save the form.</p>
                <p>This will be the name that is shown on any invoices issued to the user.</p>
            </div>
            <div style="padding-bottom:10px;">
                <!-- TODO: Update url once create new user page has been added to ledger -->
                <a href="{{LEDGER_UI_URL}}/ledger/account-management/create/" target="_blank" id="accounts-management-add">Create Customer in Ledger<i class="fa fa-external-link" style="padding-left:5px;" aria-hidden="true"></i>
                </a>
            </div>
          <div>
            <p class="text-muted" style="padding-bottom:0px; margin-bottom:0px;">Once you have created the customer in the ledger, return to this window, click the drop down above and search for the user then click the 'Select Customer' button.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
