{% extends 'wl/applications_base.html' %}

{% load static %}

{% load django_bootstrap5 %}

{% load users %}

{% load application_filters %}

{% block requirements %}
    require(['js/entry/navigation'], function(navigation) {
        navigation.init('Warning: any information entered into the form will be lost if not saved as draft.',
            {{ application.id }}, 'a, :button', '#breadcrumbsContainer, #contentContainer', "{{ csrf_token }}");
    });
{% endblock %}

{% block breadcrumbs %}
    <div id="breadcrumbsContainer" class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb wl-breadcrumbs">
                    <li><strong>{{ application|get_application_verb }} Application</strong></li>
                    <li class="active">Upload Identification</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block intro_title %}<h3>Upload Identification</h3>{% endblock %}
{% block intro_subtitle %}
    <h4 class="inline">
        {{ licence_type.name }} {% if is_renewal %}(Renewal) {% endif %} {% if is_amendment %}(Amendment) {% endif %}
    </h4>
    {% if customer %}
        <h4 class="float-end">Customer: {{ customer.get_full_name }}</h4>
    {% endif %}
    {% if variants %}
        <h4>
            <em>({{ variants }})</em>
        </h4>
    {% endif %}
{% endblock %}
{% block intro_text %}
    <p>
        This type of licence requires photographic identification. You can upload a scanned or photographed image of a valid
        Australian driver’s licence, passport, or proof-of-age card.
    </p>
    <p>
        If you cannot provide identification at this point, you can continue to the next step of the application process. You can then, at
        any time, upload your identification by selecting the Manage Account option under the Options menu on the top right of the menu bar above. Alternatively,
        you can present your identification in person at the Wildlife Licensing office, 17 Dick Perry Avenue, Kensington.
    </p>
    <p><strong><em>Note: Your application will not be approved until identification has been submitted.</em></strong></p>
{% endblock %}

{% block content %}
    <div id="contentContainer" class="container">
        <div class="row">

            <div class="col-md-12">
                {% if application.proxy_applicant_id %}
                <div class="panel panel-default" style="padding: 10px;">
                    <div style="padding-bottom:10px;">
                        <a href="{{LEDGER_UI_URL}}/ledger/account-management/{{customer.id}}/change/" target="_blank" id="accounts-management-change">Upload Identification for {{ customer.get_full_name }} in Ledger <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>
                    </div>
                  <div>
                    <p class="text-muted" style="padding-bottom:0px; margin-bottom:10px;">Once you have uploaded the identification document for the customer in the ledger, return to this window and click the 'Continue to Next Step' button.</p>
                    <p class="text-muted" style="padding-bottom:0px; margin-bottom:0px;">You can Continue to the Next Step and upload the ID later if you prefer.</p>
                  </div>
                </div>
                {% else%}
                <div class="panel panel-default" style="padding: 10px;">
                    <div style="padding-bottom:10px;">
                        <a href="{% url 'account' %}" target="_blank" id="account">Update Your Identification on the Manage Account page <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>
                    </div>
                  <div>
                    <p class="text-muted" style="padding-bottom:0px; margin-bottom:10px;">Once you have updated your identification on the manage account page, return to this window and click the 'Continue to Next Step' button.</p>
                    <p class="text-muted" style="padding-bottom:0px; margin-bottom:0px;">You can Continue to the Next Step and upload the ID later if you prefer.</p>
                  </div>
                </div>
                {% endif %}
                <a class="btn btn-primary float-end" href="{% url 'wl_applications:check_senior_card' %}">Continue to Next Step</a>
            </div>
        </div>
    </div>
{% endblock %}
