{% load users %}

{% if request.user|is_customer %}
<li><a class="dropdown-item" href="/ledger-ui/accounts">Manage Account</a></li>
<li><a class="dropdown-item" href="{% url 'wl_main:list_profiles' %}">Manage Profiles</a></li>
<li><a class="dropdown-item" href="{% url 'wl_main:identification' %}">Manage ID</a></li>
<li role="separator" class="divider"></li>
{% endif %}
{% if request.user.is_staff %}
<li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
<li role="separator" class="divider"></li>
{% endif %}
