{% load users %}

<ul class="nav navbar-expand-lg navbar-light align-items-center">
{% if request.user|is_customer %}
    <li><a class="dropdown-item" href="{% url 'wl_main:contact_us' %}">Contact Us</a></li>
    <li><a class="dropdown-item" href="{% url 'wl_main:further_information' %}">Further Information</a></li>
{% elif request.user|is_officer %}
    <li><a class="dropdown-item" href="{% url 'wl_dashboard:tables_applications_officer' %}">Applications</a></li>
    <li><a class="dropdown-item" href="{% url 'wl_dashboard:tables_licences_officer' %}">Licences</a></li>
    <li><a class="dropdown-item" href="{% url 'wl_dashboard:tables_returns_officer' %}">Returns</a></li>
    <li><a class="dropdown-item" href="{% url 'wl_customer_management:customer_lookup' %}">Customers</a></li>
    <li><a class="dropdown-item" href="{% url 'wl_reports:reports' %}">Reports</a></li>
    <li><a class="dropdown-item" href="{% url 'wl_dashboard:tables_officer_onbehalf' %}">Proxy Applications / Returns</a></li>
{% else %}
    <li><a class="dropdown-item" href="{% url 'wl_dashboard:tables_assessor' %}">Applications</a></li>
{% endif %}
</ul>

<script>
    var payment_processing =
    {
       var: { checkouthash: "{{ checkouthash }}"}
    }

    function createCookie(name, value, days) {
        var expires;

        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        } else {
            expires = "";
        }
        document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/;secure";
    }

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    createCookie('checkouthash', "{{ checkouthash }}");

    if (window.location.href.indexOf("payment-details") != -1) {
        setInterval(function() {
            createCookie(document.getElementById('payment-csrfmiddlewaretoken').value, "{{ checkouthash }}");
            var checkouthash_cookie = readCookie("checkouthash");
            if (payment_processing.var.checkouthash != checkouthash_cookie) {
                // Redirecting to the homepage should then redirect the user to the correct wl_dashboard
                // based on their authorisation level.
                window.location = "/"
            }
        },"500");
    }
</script>
