/* details-row-buffer removed in favour of Bootstrap spacing utilities (e.g., my-2) */


a.add-link {
    margin-bottom: 10px;
}

div.wl-panel-heading {
    color: white !important;
    background-color: #529b6b !important;
}
