<h3 id="{{name}}" class="section inline">{{label}}</h3><a class="collapse-link-top mt-2 float-end"><span class="fa fa-chevron-down"></span></a>
<hr>
<div class="children-anchor-point collapse show">
</div>
