<h3 id="{{name}}" class="section inline">{{label}}</h3><a class="collapse-link-top top-buffer-s float-end"><span class="glyphicon glyphicon-chevron-down"></span></a>
<hr>
<div class="children-anchor-point collapse in">
</div>
