{% extends 'wl/dash_tables.html' %}

{% block applications %}

{% endblock %}

{% block licences %}

{% endblock %}

{% block returns_filters %}
  <form class="form" id="returns-filter-form">
    <div class="row mb-2">
      <div class="col-md-3">
        <div class="form-group">
          <label for="returns-filter-licence-type">Licence Type:</label>
          <select class="form-select" name="licence_type" id="returns-filter-licence-type"></select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="returns-filter-status">Status:</label>
          <select class="form-select" name="status" id="returns-filter-status"></select>
        </div>
      </div>
    </div>
  </form>
  <div class="row mt-3">
    <div class="col d-flex justify-content-center">
      <a class="btn btn-primary btn-sm" id="reset-returns-filter-button" href="#">Reset filters</a>
    </div>
  </div>
{% endblock %}
