{% extends 'wl/dash_tables.html' %}

{% block applications_filters %}
  <form class="form" id="applications-filter-form">
<div class="row mb-2">
    <div class="col-md-3">
      <div class="form-group">
        <label for="applications-filter-licence-type">Licence Type:</label>
        <select class="form-select" name="licence_type" id="applications-filter-licence-type"></select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="applications-filter-status">Status:</label>
        <select class="form-select" name="status" id="applications-filter-status"></select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group" id="applications-filter-assignee-group">
        <label for="applications-filter-assignee">Assignee:</label>
        <select class="form-select" name="assignee" id="applications-filter-assignee"></select>
      </div>
    </div>
</div>
  </form>
  <div class="row mt-3">
    <div class="col d-flex justify-content-center">
      <a class="btn btn-primary btn-sm" id="reset-applications-filter-button" href="#">Reset filters</a>
    </div>
  </div>
{% endblock %}

{% block licences %}

{% endblock %}

{% block returns %}

{% endblock %}
