{% load django_bootstrap5 %}

<div class="modal fade" id="logCommEntryModal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add log entry</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="addLogCommEntryForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
          <div class="modal-body">
            {% bootstrap_form log_entry_form %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary">Add Entry</button>
        </div>
      </form>
    </div>
  </div>
</div>
