<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header">
        Logs{% if not disable_collapse %}
          <a data-bs-toggle="collapse" href="#logBody" class="float-end"><span class="fa"></span></a>
        {% endif %}
      </div>
      <div id="logBody" class="card-body collapse show">
        <div class="row">
          <div class="col-md-12">
            <label class="form-label">
              {% if type %}
                {{ type }}
              {% endif %}Communications
            </label>
          </div>
          <div class="col-md-6">
            <a id="showCommunicationLog" data-bs-toggle="popover" class="float-start" role="button">Show</a>
          </div>
          <div class="col-md-6">
            <a id="addCommunicationLogEntry" class="float-end">
              {% if add_text %}
                {{ add_text }}
              {% else %}
                Add entry
              {% endif %}
            </a>
          </div>
        </div>
        {% if not hide_action_log %}
          <div class="row mt-2">
            <div class="col-md-12">
              <label class="form-label">
                {% if type %}
                  {{ type }}
                {% endif %}Actions
              </label>
            </div>
            <div class="col-md-12">
              <a id="showActionLog" data-bs-toggle="popover" class="float-start" role="button">Show</a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
