{% load django_bootstrap5 %}

{% load static %}

{% load users %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        {# Next line is to disable phone dection in Edge/W11.#}
        {# Without that some application/licence numbers are detected as phone number and highligthed as link in Edge/W11  #}
        <meta name="format-detection" content="telephone=no"/>
            {% bootstrap_css %}
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
                <link type="text/css" href="{% static 'wl/css/base.css' %}?v={{ GIT_COMMIT_HASH }}" rel="stylesheet">
                <link type="text/css" href="{% static 'wl/css/bootstrap5-fixes.css' %}?v={{ GIT_COMMIT_HASH }}" rel="stylesheet">
            {% block extra_css %}
            {% endblock %}
            <title>
                {% block title %}
                     Wildlife Licensing - Department of Parks and Wildlife
                {% endblock %}
            </title>

            <script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/require.js/2.1.9/require.min.js"></script>
            <script type="text/javascript">
                require(["{% static 'wl/js/config.js' %}"], function (config) {
                    require(['js/base']);
                    {% block requirements %}
                    {% endblock %}
                });
            </script>
            {% block extra_js %}
            {% endblock %}
        </meta>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <header>
            {% block header %}
                {% include 'wl/header.html' %}
            {% endblock %}
        </header>
        {% block menu %}
            <div class="container-fluid mb-3">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container">
                        <a class="navbar-brand d-flex align-items-center" href="{% url 'wl_home' %}">
                            <img src="{% static 'wl/img/dpaw_small.png' %}" alt="DPaW" class="navbar-brand-img me-0">
                            <span class="brand-text">Home</span>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#wlMainNav" aria-controls="wlMainNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="wlMainNav">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                {% block left_menu_items %}
                                    {% if request.user|is_customer %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'wl_main:contact_us' %}">Contact Us</a></li>
                                        <li class="nav-item"><a class="nav-link" href="{% url 'wl_main:further_information' %}">Further Information</a></li>
                                    {% elif request.user|is_officer %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'wl_dashboard:tables_applications_officer' %}">Applications</a></li>
                                        <li class="nav-item"><a class="nav-link" href="{% url 'wl_dashboard:tables_licences_officer' %}">Licences</a></li>
                                        <li class="nav-item"><a class="nav-link" href="{% url 'wl_dashboard:tables_returns_officer' %}">Returns</a></li>
                                        <li class="nav-item"><a class="nav-link" href="{% url 'wl_customer_management:customer_lookup' %}">Customers</a></li>
                                        <li class="nav-item"><a class="nav-link" href="{% url 'wl_reports:reports' %}">Reports</a></li>
                                        <li class="nav-item"><a class="nav-link" href="{% url 'wl_dashboard:tables_officer_onbehalf' %}">Proxy Applications / Returns</a></li>
                                    {% else %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'wl_dashboard:tables_assessor' %}">Applications</a></li>
                                    {% endif %}
                                {% endblock %}
                            </ul>
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                {% if request.user.is_authenticated %}
                                    <li class="nav-item d-flex align-items-center">
                                        <span class="nav-link">Welcome <strong>
                                            {% if request.user.first_name %}
                                                {{ request.user.get_short_name }}
                                            {% elif request.user.last_name %}
                                                {{ request.user.last_name }}
                                            {% else %}
                                                {{ request.user.email }}
                                            {% endif %}
                                        </strong></span>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" id="wlOptionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">Options</a>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="wlOptionsDropdown">
                                            {% if request.user|is_customer %}
                                                <li><a class="dropdown-item" href="/ledger-ui/accounts">Manage Account</a></li>
                                                <li><a class="dropdown-item" href="{% url 'wl_main:list_profiles' %}">Manage Profiles</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                            {% endif %}
                                            {% if request.user|is_officer %}
                                                <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                            {% endif %}
                                            {% if request.user|is_officer %}
                                                <li><a class="dropdown-item" href="{{ LEDGER_UI_URL }}/reports?system_id={{ PAYMENT_SYSTEM_PREFIX }} ">Financial Reports</a></li>
                                                <li><a class="dropdown-item" href="{{ LEDGER_UI_URL }}/ledger/payments/oracle/payment-totals?system_id={{ PAYMENT_SYSTEM_PREFIX }}">Payment Totals</a></li>
                                                <li><a class="dropdown-item" href="{{ LEDGER_UI_URL }}/ledger/payments/oracle/failed-transactions?system_id={{ PAYMENT_SYSTEM_PREFIX }}">Failed Refunds {% if ledger_totals.total_failed > 0 %}<span class="badge bg-danger">{{ ledger_totals.total_failed }}</span>{% endif %}</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                            {% endif %}
                                            <li><a class="dropdown-item" href="{% url 'logout' %}?next=/">Logout</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                                {% block right_menu_items %}
                                {% endblock %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        {% endblock %}

         {% is_deprecated as deprecated %}
         {% if deprecated %}
        <div class="alert alert-warning">
            <strong>
                <p>DBCA Wildlife Licensing is in the process of transitioning to an updated online system.</p>
                <p>Until all licence types are moved to the new system, the ability to enter your credit card details online has been disabled, however you can contact Wildlife Licensing on 9219 9833 to provide credit card details over the phone.<i/p>
                <p>The “Pay later” tab in Payment Details will still allow you to submit the application and generate an invoice.</p>

                <p>We apologise for this inconvenience.</p>
            </strong>
        </div>
        {% endif %}

        {% block breadcrumbs %}
        {% endblock %}

        {% block messages %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                                {% bootstrap_messages %}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block intro %}
        {% endblock %}

        {% block content %}
        {% endblock %}
        {% block modals %}
        {% endblock %}
    </body>
</html>
