{% extends 'wl/base.html' %}

{% load django_bootstrap5 %}

{% load static %}
{% load utils %}

{% block left_menu_items %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'wl_main:contact_us' %}">Contact Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'wl_main:further_information' %}">Further Information</a>
  </li>
{% endblock %}

{% block messages %}

{% endblock %}

{% block content %}
  {% dept_name as dept_name %}
  {% dept_postal_address_line_1 as dept_postal_address_line_1 %}
  {% dept_postal_address_line_2 as dept_postal_address_line_2 %}
  {% dept_state as dept_state %}
  {% dept_postal_postcode as dept_postal_postcode %}
  {% system_name as system_name %}
  {% support_email as support_email %}
  {% dept_support_phone as dept_support_phone %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Contact Us</h2>
        <p>If you have any enquiries about {{ system_name|lower }}, the {{ dept_name }}’s {{ system_name }} Section can be contacted:</p>
        <p>
          <strong>By email:</strong> <a href="mailto:{{ support_email }}">{{ support_email }}</a>
        </p>
        <p>
          <strong>By phone:</strong> {{ dept_support_phone }}
        </p>
        <p>
          <strong>By post:</strong>
          <address>
            {{ system_name }} Section<br />
            {{ dept_name }}<br />
            {{ dept_postal_address_line_1 }}<br />
            {{ dept_postal_address_line_2 }} {{ dept_state }} {{ dept_postal_postcode }}
          </address>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
