{% extends 'wl/base.html' %}

{% load django_bootstrap5 %}

{% load static %}
{% load utils %}


{% block extra_css %}
    <link type="text/css" href="{% static 'wl/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block left_menu_items %}
    <li class="nav-item"><a class="nav-link" href="{% url 'wl_main:contact_us' %}">Contact Us</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'wl_main:further_information' %}">Further Information</a></li>
{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}
    {% system_name as system_name %}
    {% support_email as support_email %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-8 pe-4">
                <h2 class="mb-3">Welcome to {{ system_name }}</h2>
                <p class="fs-7">The Department of Biodiversity, Conservation and Attractions issues licences under the Biodiversity Conservation Act 2016 and the Biodiversity Conservation Regulations 2018 to manage certain interactions with flora and fauna.</p>
                <p>This web portal currently enables you to apply for, renew, and manage returns for the following licence types online.</p>
                <ul>
                    <li><strong>Fauna taking (scientific or other purposes) licence</strong> (formerly 'Regulation 17 - Licence to take fauna for scientific purposes')</li>
                    <li><strong>Fauna taking (relocation) licence</strong> (formerly 'Regulation 15 - Licence to take fauna for educational or public purposes')</strong></li>
                    <li><strong>Fauna taking (dangerous fauna) licence</strong> (formerly 'Regulation 4 - Licence to take dangerous fauna')</li>
                    <li><strong>Fauna causing damage licence</strong> (formerly 'Regulation 5 - Licence to take protected fauna causing damage to property')</li>
                </ul>
                <p>A new {{ system_name }} system will replace this system, allowing for all licence types to be applied for online.</p>
                <p>Simply register an account, set up a profile, select the licence type you wish to apply for and get started.</p>
                <p>For further information, contact <a href="mailto:{{support_email}}">{{support_email}}</a>.
            </div>
            <div class="col-lg-4">
                {% if not request.user.is_authenticated %}
                    {% dept_name as department_name %}
                    <div id="wl-login-container">
                        <div class="card wl-sidebar-card">
                            <div class="card-body">
                                <h3 class="card-title fs-3">Access {{ system_name }}</h3>
                                {% bootstrap_messages %}
                                <a href="/ssologin" class="btn btn-sm btn-info">Login to {{ system_name }}</a>
                                <hr>
                                <h5 class="card-subtitle mt-3 mb-3 fs-5">{{ system_name }} Password-less Logins</h5>
                                <p class="card-text lh-base">At the Department of Biodiversity, Conservation and Attractions, we employ a password-less authentication system, meaning you never need to remember a password. When you need to login to a site, such as {{ system_name }}, simply enter your email and an authentication code will be sent to your registered email address. From there, enter the code on screen to complete the login process.</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
